name: Check-Houses

on: workflow_dispatch

jobs:
  checking:
    name: List new houses
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
      - run: npm install
      - uses: actions/download-artifact@v2
        with:
          name: houses-list
          path: workdir/houses.json
      - run: npm start
      - uses: actions/upload-artifact@v2
        with:
          name: houses-list
          path: workdir/houses.json