name: Check-Houses

on: 
  workflow_dispatch:
  schedule:
    # https://crontab.guru/#0_*_*_*_1-5
    - cron:  '0 9-22 * * 1-5'

jobs:
  checking:
    name: List new houses
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
      - run: npm install
      - run: mkdir -p workdir
      - name: Download artifact
        continue-on-error: true
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: check-houses.yml
          workflow_conclusion: success
          name: houses-list
          path: workdir
      - run: npm start -- --email-user ${{secrets.SMTP_EMAIL_USER}} --email-pass ${{secrets.SMTP_EMAIL_PASS}} 
      - uses: actions/upload-artifact@v2
        with:
          name: houses-list
          path: workdir/houses-db.json
          retention-days: 5